html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
iframe
{
	border: 0;
}

textarea
{
	min-width: 97%;
	max-width: 97%;
}

.user_subs
{
	padding: 0.3%;
	width: 99.4%;
	background-color: #71E75D;
	white-space:nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}

.banner
{
	padding: 0.3%;
	padding-bottom: 0%;
	width: 99.4%;
	height: 80px;
	background-color: #71C562;
}

.banner_options
{
	margin-left: 1%;
	padding: 0.3%;
	float: left;
	width: auto;
}

.main_content
{
	width: 96%;
	padding: 2%;
}

.feed
{
	float: left;
	width: 71%;
}

.controls
{
	float: left;
	width: 29%;
}

.feed_object
{
	background-color: #95B190;
	margin-bottom: 5px;
	padding: 0.3%;
	display: inline-block;
	width: 96%;
}

.feed_object_updn_container
{
	display: inline-block;
	float: left;
	height: 100%;
}

.feed_object_title_container
{
	padding-left: 40px;
	display: inline-block;
	float: left;
	border-left: 2px solid #91A582;
	height: 100%;
}

.post
{
	margin-right: 0.8%;
	background-color: #F5F5F5;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
}

.post_content
{
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: #FFFFFF;
	padding: 0.3%;
	word-break: break-all;
}

.above_post
{
	margin-right: 0.8%;
	padding: 0.3%;
	background-color: #E5E5E5;
}

.uv_dv
{
	width: 120px;
	height: 30px;
}

.flair
{
	padding: 3px;
	display: inline-block;
	border: 2px solid grey;
	background-color: lightgrey;
	border-radius: 3px;
	margin-left: 0.8%;
}

.comment_0
{
	overflow: hidden;
	margin-bottom: 0.8%;
	padding-left: 4.8%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	display: inline-block;
	background-color: #f2f2f2;
	border-left: 2px solid #91A582;
	width: 94.9%;
}

.comment_1
{
	overflow: hidden;
	margin-bottom: 0.8%;
	padding-left: 4.8%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	display: inline-block;
	background-color: #e6e6e6;
	border-left: 2px solid #91A582;
	width: 94.9%;
}

.comment_container
{
	overflow: hidden;
	padding: 0.8%;
}