[Unit]
Description=Greenit daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
Group=redis
ExecStart=/usr/local/bin/ScriptRunner_SCGI.pike

[Install]
WantedBy=multi-user.target